<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-audio-playlist" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-audio-playlist</name>
    <js-module name="cordova-plugin-audio-playlist" src="www/cordova-plugin-audio-playlist.js">
        <clobbers target="cordovaAudioPlaylist" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginAudioPlaylist">
                <param name="android-package" value="com.mabel.plugins.CordovaPluginAudioPlaylist" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <source-file src="src/android/cordova-plugin-audio-playlist.java" target-dir="src/com/mabel/plugins" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaPluginAudioPlaylist">
                <param name="ios-package" value="CordovaPluginAudioPlaylist" />
            </feature>
        </config-file>
        <header-file src="src/ios/MediaPlayer-Bridging-Header.h"/>
        <source-file src="src/ios/cordova-plugin-audio-playlist.swift" />
    </platform>
    <dependency id="cordova-plugin-add-swift-support" version="1.6.2"/>
    <dependency id="cordova-plugin-file" version=">4.0.0"/>
    <dependency id="cordova-plugin-file-transfer" version=">1.6.0"/>
    <dependency id="cordova-plugin-network-information" version=">1.3.0">
</plugin>