<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-audio-playlist" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginAudioPlaylist</name>
    <js-module name="cordova-plugin-audio-playlist" src="www/cordova-plugin-audio-playlist.js">
        <clobbers target="cordovaAudioPlaylist" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginAudioPlaylist">
                <param name="android-package" value="com.mabel.plugins.CordovaPluginAudioPlaylist" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
        <js-module src="www/localforage.min.js" name="LocalForage">
            <clobbers target="audioPlugin.localForage" />
        </js-module>
        <js-module src="www/promise-queue.min.js" name="PromiseQueue">
            <clobbers target="audioPlugin.promiseQueue" />
        </js-module>
        <source-file src="src/android/CordovaPluginAudioPlaylist.java" target-dir="src/com/mabel/plugins" />
        <source-file src="src/android/AudioPlayer.java" target-dir="src/com/mabel/plugins" />
        <source-file src="src/android/AudioTrack.java" target-dir="src/com/mabel/plugins" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaPluginAudioPlaylist">
                <param name="ios-package" value="CordovaPluginAudioPlaylist" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>audio</string>
            </array>
        </config-file>
        <js-module src="www/localforage.min.js" name="LocalForage">
            <clobbers target="audioPlugin.localForage" />
        </js-module>
        <js-module src="www/promise-queue.min.js" name="PromiseQueue">
            <clobbers target="audioPlugin.promiseQueue" />
        </js-module>
        <framework src="AVFoundation.framework" weak="true" />
        <header-file src="src/ios/MediaPlayer-Bridging-Header.h"/>
        <source-file src="src/ios/cordova-plugin-audio-playlist.swift" />
        <header-file src="src/ios/MainViewController+Audio.h" />
        <source-file src="src/ios/MainViewController+Audio.m" />
        <source-file src="src/ios/Jukebox.swift" />
        <source-file src="src/ios/JukeboxItem.swift" />
        <source-file src="src/ios/SwiftyJson.swift" />
    </platform>
    <dependency id="cordova-plugin-add-swift-support" version="1.6.2"/>
    <dependency id="cordova-plugin-file" version="4.3.2"/>
    <dependency id="cordova-plugin-file-transfer" version=">1.6.0"/>
    <dependency id="cordova-plugin-network-information" version=">1.3.0" />
    <dependency id="cordova-plugin-device" version=">1.1.6" />
    <dependency id="cordova-plugin-indexeddb-async" />
    <dependency id="es6-promise-plugin" url="https://github.com/vstirbu/PromisesPlugin.git" />
</plugin>